@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-6">
        @Html.Partial("../Shared/_Registration.cshtml")
        
    </div>
    <div class="col-6">
        @Html.Partial("../Shared/_Login.cshtml")
    </div>
</div>
